/* general */
:root {
  --color-red: #e30613;
}
* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "container container container container"
    "footer footer footer footer";
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 250px 1fr 125px;
  font-family: "Avenir", sans-serif;
  margin: 0;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.header,
.container,
.footer {
  padding: 0rem 5rem;
}

/* header */

.header {
  align-items: center;
  display: flex;
  grid-area: header;
  justify-content: space-between;
  width: 100%;
}

.header-logo {
  margin-bottom: 3rem;
  max-width: 200px;
  width: 100%;
}

.animate {
  animation-duration: 1s;
  animation-name: loader;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  transform-origin: 76% 69%;
}

.header-input--container {
  position: relative;
  width: 48%;
}

.search-label {
  background-color: white;
  color: var(--color-red);
  font-size: 21px;
  font-weight: bold;
  padding: 0rem 1rem;
  position: absolute;
  transform: translate(23px, -52px);
  transition: 0.2s ease-in;
}

.search-bar {
  background: none;
  border: 3px solid var(--color-red);
  color: var(--color-red);
  font-size: 21px;
  font-weight: normal;
  height: 75px;
  padding: 1rem 2rem;
  position: relative;
  width: 100%;
  z-index: 5;
}

.search-bar:focus {
  outline: none;
}

.search-bar:focus + .search-label {
  font-size: 12px;
  transform: translate(14px, -82px);
}

.search-label {
  z-index: 20;
}

.search-button {
  background-color: var(--color-red);
  border: none;
  height: 75px;
  position: absolute;
  right: 0;
  top: 0;
  width: 83px;
  z-index: 10;
}

.search-button > img {
  width: 36px;
}

/* main */
.container {
  display: flex;
  flex-flow: row wrap;
  grid-area: container;
  justify-content: space-between;
}

.postcard-item {
  align-items: flex-end;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  height: 275px;
  justify-content: flex-start;
  padding: 3rem 2rem 1rem;
  text-align: right;
  width: 48%;
}

.postcard-item:nth-child(n + 3) {
  margin-top: 4%;
}

.postcard-item > * {
  margin: 0;
  max-width: 400px;
}

.postcard-item--link {
  border: 3px solid white;
  font-weight: bold;
  margin-top: auto;
  min-width: 125px;
  padding: 1rem 2rem;
  text-align: center;
}

.postcard-item--link:hover {
  cursor: pointer;
}

.postcard-detail--image {
  max-width: 600px;
  width: 100%;
}

/* footer */
.footer {
  grid-area: footer;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
